.main{
   
  
    border: 2px ;
    margin: 20px;
    padding: 20px 20px;
    display: inline-block;
}

h1{
    text-align: center;
    font-size: large;
    font-style: italic;
    text-transform: uppercase;
}
h2{
     font-style:normal;
    text-transform: lowercase;
    text-align: center;

}
a{
    text-decoration: none;
   
    padding: 1rem;
    border: 50px;
}