button{
    border-radius: none;
    color: aquamarine;
    font-size: larger;
    font-weight: 500;
    font-style: oblique;
    text-align: center;
   background-color: white;
 
   padding: 20px;
   border: 2px solid red;
 display: inline-block;
  margin: 20px;
}